/* Estilos generales */
body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  h1, h2, h3 {
    color: #fff;
  }
  
  h2 {
    margin-top: 30px;
  }
  
  p {
    line-height: 1.5;
  }
  
  /* Estilos de la barra de navegación */
  .head {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .logo a {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar a {
    margin-right: 10px;
  }
  
  /* Estilos de las secciones */
  section {
    margin-bottom: 30px;
  }
  
  section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  section p {
    margin-bottom: 20px;
  }
  
  .localizaciones a {
    display: block;
    margin-bottom: 10px;
  }
  
  /* Estilos de la tabla de creadores y desarrolladores */
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
  }
  
  table th, table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #fff;
  }
  
  table th {
    background-color: #444;
  }
  
  /* Estilos del formulario CRUD */
  input[type="text"],
  input[type="email"],
  button {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 14px;
    border: none;
  }
  
  button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  /* Estilos del pie de página */
  footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  